################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XiaomiMIUIHellas/obj/Release/build.props
